@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quick-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.rale-font{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  margin: 0;
}
*{
  box-sizing: border-box;
}

/* shared styles */
.display-flex{
  display: flex;
}

/* navbar styles */
header{
  background-color: rgb(247, 247, 247);
  padding-bottom: 10px;
}
.nav-banner-section{
  max-width: 1200px;
  margin: 0 auto;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
/* navbar logo styles */
.logo{
  align-items: center;
}
.logo img{
  width: 4rem;
  height: 4rem;
}
.logo p{
  font-size: 2rem;
  font-weight: 700;
}
/* navbar menu bar styles */
.menu-item{
  list-style: none;
  margin-right: 2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.menu-item a{
  text-decoration: none;
}
#home{
  color: rgb(254, 163, 1);
}
#about{
  color: rgb(1, 172, 253);
}
#facilities{
  color: rgb(5, 212, 223);
}
#admission{
  color: rgb(93, 88, 239);
}
.menu-item a:hover{
  text-decoration: underline;
}
.menu-icon{
  display: inline;
  font-size: 2rem;
  padding-right: 10px;
  display: none;
}
/* navbar button styles */
.contact-btn button{
  border: none;
  background-color: orange;
  padding: 15px 25px;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.contact-btn button:hover{
  background-color: rgb(245, 31, 124);
  cursor: pointer;
  color: black;
  transition: background-color 1.5s , color 2s;
}

/* banner styles */
.banner-container{
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  width: 640px;
}
.banner-content .banner-title{
  font-size: 3.5rem;
  margin-bottom: 6px;
}
#part1{
  color: rgb(254, 163, 1);
}
#part2{
  color: rgb(1, 172, 253);
}
.banner-content .banner-des{
  color: rgba(0, 0, 0, 0.67);
  margin-bottom: 15px;
}
.banner-btn{
  border: none;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.banner-image img{
  width: 468px;
  height: 575px;
}

/* standard curriculum styles*/
.curriculum{
  background-color: rgb(247, 247, 247);
}
.curriculum-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/bg.png);
  background-size: contain;
  background-position: top;
  padding-top: 50px;
}
.curriculum-title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.curriculum-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
.curriculum-card{
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}
.curriculum-card-title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.curriculum-card-des{
  font-size: 12px;
  margin-bottom: 30px;
}
.curriculum-card button{
  border: none;
  font-size: 15px;
  background-color: white;
  font-weight: 600;
}
#curriculum-btn1{
  color: rgb(100, 200, 255);
}
#curriculum-btn2{
  color: rgb(240, 170, 0);
}
#curriculum-btn3{
  color: rgb(135, 0, 255);
}
.curriculum-card img{
  width: 120px;
}
.curriculum-card-1{
  border: 2px solid rgb(222, 245, 255);
  background: linear-gradient(180deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-card-2{
  border: 2px solid rgb(255, 244, 220);
  background: linear-gradient(180deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-card-3{
  border: 2px solid rgb(242, 232, 255);
  background: linear-gradient(180deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.arrow-icon {
  display: flex; 
  gap: 20px; 
  margin-top: 20px;
}
.arrow-icon i {
  background-color: orange;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  color: white;
  font-size: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stories styles */
.stories {
  background-image: linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgb(247, 247, 247));
  padding-bottom: 40px;
}
.stories-container{
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(assets/bg.png);
  background-size: contain;
  background-position: top;
  padding-top: 30px;
}
.stories-container{
  max-width: 1200px;
  margin: 0 auto;
}
.stories-title{
  text-align: center;
}
.stories-cards{
  display: grid;
  grid-template-areas: 
  "story-card1 story-card1 story-card2 story-card3"
  "story-card1 story-card1 story-card4 story-card5";
  gap: 15px;
}
.story-card img{
  width: 100%;
  border-radius: 12px;
}
.story-card1{
  grid-area: story-card1;
  width: 540px;
  height: 600px;
  background-color: white;
  border-radius: 12px;
}
.story-card2{
  grid-area: story-card2;
}
.story-card3{
  grid-area: story-card3;
}
.story-card4{
  grid-area: story-card4;
}
.story-card5{
  grid-area: story-card5;
}
.story-card2, .story-card3, .story-card4, .story-card5{
  width: 290px;
  height: 285px;
  background-color: white;
  border-radius: 12px;
}
.story-card1 p{
  padding: 0 20px;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(44, 44, 45);
  text-align: justify;
}
.story-card1 h3{
  margin-top: 50px;
  margin-bottom: 50px;
}
.story-card1 h3,.story-card2 h3, .story-card3 h3, .story-card4 h3, .story-card5 h3{
  padding: 0 20px;
  font-size: 1.25rem;
  font-weight: 700;
}
.stories .stories-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


/* footer styles */
.footer{
  background-color: rgba(1, 172, 253, 1);
  color: white;
}
.footer-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 100px;
}
.footer-image-title{
  display: flex;
  width: 300px;
  align-items: center;
}
.footer-image-title img{
  width: 40px;
  height: 50px;
  background-color: white;
  background-size: cover;
}
.footer-image-title .footer-title{
  font-size: 30px;
  font-weight: 700;
  margin-left: 5px;
}
.footer-text p{
  font-size: 15px;
}
.footer-links .footer-links-title{
  font-weight: 600;
  font-size: 20px;
}
.footer-links ul li{
  list-style: none;
  margin-bottom: 10px;
}
.footer-links a{
  text-decoration: none;
  color: white;
}
.footer-icons .footer-icons-title{
  font-weight: 600;
  font-size: 20px;
}
.footer-icons img{
  width: 40px;
  margin-right: 30px;
}
.footer-links ul li {
  margin-left: 0;
  margin-right: 0; 
}


/* media for maximum width 576px */
@media screen and (max-width: 576px){

/* media for nav and banner */
  .nav-banner-section{
    width: 100%;
  }
  .logo p{
    display: none;
  }
  .menu-bar , .contact-btn{
    display: none;
  }
  .menu-icon{
    display: block;
  }
  .banner-container{
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
  }
  .banner-image img{
    width: 100%;
  }
  .banner-content{
    width: 100%;
  }
  .banner-content .banner-title{
    font-size: 1.5rem;
  }
  .banner-content p{
    font-size: 0.5rem;
  }

/* media for curriculum */
  .curriculum-cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .curriculum-card{
    width: 80%;
    margin: 0 auto;
  }
  .arrow-icon{
    display: none;
  }
  
  /* media for stories */
  .stories-container{
    background-size: cover;
  }
  .stories-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .story-card{
    width: 100%;
    height: auto;
    margin: 0;
  }
  .story-card h3 {
    font-size: 1rem;
  }
  .story-card img {
    border-radius: 8px;
    max-width: 100%;
  }
  .story-card1 {
    display: none; 
  }
  .stories .stories-btn{
    display: none;
  }
  

  /* media for  footer*/
  .footer-container {
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 40px 20px; 
  }
  .footer-title {
    font-size: 20px; 
  }
  .footer-text p {
    font-size: 12px; 
  }
  .footer-links .footer-links-title,
  .footer-icons .footer-icons-title {
    font-size: 16px;
  }

  .footer-links ul {
    margin-top: 10px;
  }

  .footer-icons img {
    width: 30px; 
    margin-right: 15px; 
  }
}